@import url(//db.onlinewebfonts.com/c/1572b251b0319fdd12219a000aad6196?family=Sofia+Pro+Black);

/* CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Sofia Pro Black", "Helvetica Neue", "Helvetica,Arial",
    "sans-serif";
}
.nav-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}
.navbar {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #0065c3;
  padding: 1.5rem 4rem 1.5rem 4rem;
}
.nav-left {
  display: flex;
  gap: 4rem;
  align-items: center;
}
.nav-right {
  display: flex;
  align-items: center;
}
.nav-button {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  border: 1px solid white;
  border-radius: 2rem;
  padding: 4px 10px 4px 10px;
}

.nav-item:hover,
.nav-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.products {
  max-width: 100%;
}
.pepsi-img {
  max-width: 100%;
}
.nitro-pepsi {
  max-width: 100%;
}

.container {
  display: flex;
  align-items: center;
  gap: 12rem;
  padding: 1rem;
  justify-content: center;
  /* background-image: url("https://www.pepsi.com/en-us/uploads/images/nitro/Desktop_Background.png"); */
  background-repeat: no-repeat;
}

.product-text {
  margin-top: 5rem;
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
  max-width: 100%;
}
.product-3 {
  /* max-width: 100%; */
  display: inline-block;
  border: 3px solid #ffffff;
  border-radius: 5rem;
  margin-top: 2rem;
  text-align: center;
  align-items: center;
  justify-items: center;
  padding: 1px 8px 1px 8px;
  text-transform: uppercase;
  font-size: 1.9rem;
  color: #ffff;
}

.products-2 {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.zero-sugar {
  display: block;
  margin-bottom: 6rem;
  max-width: 100%;
}
.pepsi-vid {
  display: block;
  width: 35rem;
}
.pepsi-zero-sugar {
  /* display: block; */
  max-width: 100%;
  width: 35rem;
}
.container-margin {
  padding: 5rem;
}
.c3 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.c3-right {
  /* display: grid; */
  grid-column: 2/3;
  /* max-width: 90%; */
}
.left-img {
  display: block;
  width: 45rem;
}
.c3-left {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-self: center;
  justify-content: center;
  gap: 3rem;
  padding: 4rem;
}
.img-1-text {
  text-transform: uppercase;
  color: #ffff;
  font-size: 2rem;
  background-color: #1437bf;
  text-align: center;
}
.img-2 {
  display: block;
  grid-row: 2/3;
}
.pepsi-mango-text {
  text-transform: uppercase;
  color: #ffff;
  font-weight: 900;
  font-size: 7rem;
}
.pepsi-mango {
  width: 90rem;
}
.c4 {
  display: flex;
}
.c4-back-img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;

  /* display: block; */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
}
.product-img {
  display: flex;
}
.pepsi-mango-img {
  display: block;
}
.c4-products {
  display: flex;
  flex-direction: column;
  /* padding:  9rem 8rem 9rem; */
}

.product-c5 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pepsi-can {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 4em;
}
.right-img {
  width: 55rem;
}
.product-c6 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  /* height: 56rem; */
  gap: 30rem;
  width: 100%;
  /* min-height: 33rem; */
  padding: 10rem;
}
.p16-para {
  color: #e5eff9;
  text-transform: uppercase;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: -3px;
  /* font-weight: 300; */
  margin-bottom: -1rem;
}
.pl6-text {
  margin-bottom: 3rem;
}
.p16-pepsi-text {
  /* text-align: center; */
  color: #e5eff9;
  font-size: 1.5rem;
}
.pl6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.pl6-heading {
  max-width: 42rem;
}

.pl6-button {
  color: #ffff;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  border: 2px solid white;
  border-radius: 10rem;
  padding: 4px 40px 4px 40px;
}
